html {
  font-family: "Open Sans", sans-serif;
  background: whitesmoke;
}
body {
  box-sizing: border-box;
  margin: auto 0;
}

hr {
  background: grey;
  height: 0;
}

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid green;
  background-color: rgb(243, 246, 248);
}
article {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  top: 40em;
}

.left-side {
  display: flex;
  border-right: 2px solid forestgreen;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100vh;
  padding: 2.2rem;
  left: 0;
  color: rgb(17, 17, 18);
}
.right-side {
  display: flex;
  flex-direction: column;
  width: 60%;
  right: 0;
  padding: 1.2rem;
  background-color: rgb(243, 246, 248);
}
img {
  width: 150px;
  border-radius: 50%;
}
h2 {
  margin: 0 0 0 2em;
  color: green;
}
p {
  line-height: 2em;
}
.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding-left: 1.2rem;
  gap: 0.2rem;
}
.heading {
  color: rgb(12, 238, 12);
  width: fit-content;
}
footer {
  padding-top: 5%;
  background-color: rgb(12, 238, 12);
  color: rgb(13, 12, 12);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
}
.skills {
  display: inline-block;
  width: 100%;
}
.w3-light-grey {
  border: 1px solid black;
  border-radius: 2%;
}
.w3-container {
  height: 20px;
  border-radius: 2%;
}

@media (max-width: 60rem) {
  article {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 40em;
  }

  .left-side {
    display: flex;
    border-right: none;
    border-bottom: 2px solid forestgreen;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 1.2rem;
    left: 0;
    color: rgb(13, 13, 14);
  }
  .right-side {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-right: 1.2rem;
    background-color: rgb(243, 246, 248);
    border-bottom: 2px solid forestgreen;
  }
}
